<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">S.I.S</h1>
      <p class="text-center lead">Crie ou edite seu contato abaixo.</p>

      <form action="/administracao/paginaalunos" method="GET">
        <div class="form-group">
          <label>Nome de Acesso</label>
          <input type="text" class="form-control" name="nome_acesso">
        </div>
        <div class="form-group">
          <label>Senha</label>
          <input type="password" class="form-control" name="senha">
        </div>
        <div class="form-groupe">
          <a href="/"><p class="text-left lead">Esqueci minha senha</p></a>
        </div>
        <button type="submit" class="btn btn-dark">Log-in</button>
      </form>
    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
