<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3"
          style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <h1 class="text-center">S.I.S</h1>
          <p class="text-center lead">Selecione seu cargo dentro da instituição.</p>
          <br>
          <a href="/alunos/opcao" style="width: 70%; height: 4rem; text-align: center;">
            <button type="submit" class="btn btn-dark"  style="width: 100%; height: 5rem; text-align: center;" >
              Aluno
            </button>
          </a>
          <br>
          <a href="/administracao/login" style="width: 70%; height: 5rem; text-align: center;">
            <button type="submit" class="btn btn-dark"  style="width: 100%; height: 5rem; text-align: center;">
              Administração
            </button>
          </a>
          <br>
          <br>
          <br>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include('includes/footer') %>