<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">S.I.S</h1>
      <br><br>

    
      <h2 class="text-center">Horário de entrada/saída salvo com sucesso!</h2>
      <a href="/" style="width: 70%; height: 5rem; text-align: center;">
        <button type="submit" class="btn btn-dark"  style="width: 100%; height: 5rem; text-align: center;">
          Voltar
        </button>
      </a>
    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
